* {
  padding: 0;
  margin: 0;
}

body {
  background: #fbf7ff;
}

li {
  list-style-type: none;
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  margin: 17px;
  cursor: pointer;
  color: #fff;
}

li:hover {
  border-left-color: #4fff4b;
  border-left-style: solid;
  border-left-width: 2.5px;
}

.box-color-introdution {
  width: 100%;
  height: 36.688rem;
  left: 0px;
  top: 0px;

  background: #290742;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 6px solid #4fff4b;
}

.navbar-header {
  width: 73.071rem;
  height: 44px;
  margin-top: 64px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.container-navbar-ul {
  display: flex;
}

.search {
  width: 300px;
  height: 44px;
  display: flex;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.button-search {
  width: 60px;
  height: 112%;
  background: #9e6dc2;
  border-radius: 0px 4px 4px 0px;
}

.input-search {
  width: 230px;
  height: 100%;
  background: #170027;
  border-radius: 4px 0px 0px 4px;
  text-align: center;
}

.input-search::placeholder {
  width: 100px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
}

@media (min-width: 1182px) {
  .container-info-main {
    display: flex;
  }
}

.container-info-main {
  margin-top: 63px;
  gap: 30px;
  flex-wrap: wrap;
}

.container-text-main {
  width: 570px;
  height: 311px;
}

.text-main {
  color: #9e6dc2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.text-main-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.ancora-vermais {
  text-aling: center;
  display: flex;
  margin-top: 24px;

  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #9e6dc2;
}
.img-vermais {
  margin-left: 8px;
}

.container-conteudos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-conteudo,
.conteudo-principal-direita {
  width: 35.563rem;
  height: 34.13rem;
  margin: 3.125rem;
}
.title-conteudo-segundario,
.title-conteudo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.text-conteudo-segundario,
.text-conteudo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.title-conteudo {
  line-height: 36px;
  margin-top: 20px;
}

.text-conteudo {
  line-height: 24px;
  margin-top: 20px;
}

.container-conteudos-segundarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-conteudo {
  margin-top: 58px;
}

.card-conteudo-segundario {
  width: 23.125rem;
  height: 28.659rem;
  margin: 30px;
}
.title-conteudo-segundario {
  margin-top: 8px;
}

.text-conteudo-segundario {
  margin-top: 8px;
}

.responsive-button, #check {
  display: none;
}
#check::checked .container-navbar-ul, {
  left: 0;
}


@media (max-width: 1182px) {
  .box-color-introdution {
    height: 60.688rem;
  }
  .navbar-header {
    width: 80%;
  }
  .responsive-button {
    display: block;
  }

  .container-text-main {
    width: 100%;
  }
  .container-info-main {
    display: flex;
    justify-content: center;
  }
  .container-navbar-ul,
  .search {
    position: fixed;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background: #000;
    left: -100%;
    text-align: center;
    transition: all 0.2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-attachment: fixed;
    overflow: hidden;
  }
}

.responsive-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.responsive-button:hover .menu-responsive-1 {
  transition: 0.2s;

  transform: rotate(45deg);
}
.responsive-button:hover .menu-responsive-2 {
  transition: 0.2s;
  transform: rotate(-45deg);
}

.responsive-button:hover .menu-responsive-3 {
  display: none;
}

.menu-responsive-1,
.menu-responsive-2,
.menu-responsive-3 {
  width: 40px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;

  cursor: pointer;
}

@media (max-width: 590px) {
  .image-responsive,
  .image-responsive-conteudo-principal {
    max-width: 100%;
  }
  .image-responsive-conteudo-principal {
    margin-top: 2rem;
  }
}

@media (max-width: 403px) {
  .image-responsive-conteudo-principal {
    margin-top: 10rem;
  }
}
